html{
    font-family: 'Poppins'
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
li{
    float: left;
}
li #aboutLink {
	display: block;
	padding: 14px 16px;
	text-decoration: none;
}
img{
	display: block; 
	margin: auto;
}
#homeTopImg{
	height: 200px;
}
#aboutTitle{
	color: black;
}
#aboutTitle:hover{
	color: grey;
}
#login{
  text-align: right;
}
